<a href="https://colab.research.google.com/github/NhaBaodang/AI_24_2/blob/main/w8_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.linear_model import Perceptron
x=[[0,0],[1,0],[0,1],[1,1]]
y=[0,1,1,1]
model = Perceptron()
model.fit(x,y)
model.score(x,y)

1.0

In [ ]:
x1 = [[(-0.5),(-0.5)],[10,2],[-1,(0.8)],[3,5],[1,(0.2)],[(-0.1),(0.9)]]
y= model.predict(x1)

model.fit(x1,y)
model.score(x1,y)

1.0

In [ ]:
x1 = [[0.5,0]]

y1= model.predict(x1)


model.score(x1,y1)

1.0

In [ ]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

ins = datasets.load_iris()
X = ins.data
y= ins.target
print(X[:5])
print(y[:5])
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)
sc= StandardScaler()
sc.fit(X_train)
X_train_std=sc.transform(X_train)
X_test_std=sc.transform(X_test)

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]
[0 0 0 0 0]

In [ ]:
model = Perceptron(max_iter=40,eta0=0.1,random_state=0)
model.fit(X_train_std,y_train)
y_pred=model.predict(X_test_std)
print(y_pred)
print(y_test)
print('do chinh xac',accuracy_score(y_test,y_pred))

[2 2 1 0 1 1 1 0 0 2 0 2 0 1 2 0 2 2 0 0 0 0 2 2 2 1 2 1 2 0 1 2 2 0 2 2 2
 2 2 1 1 2 1 2 1]
[2 2 1 0 1 1 1 0 1 2 1 1 0 1 1 0 2 2 0 1 0 0 2 1 2 1 2 1 2 0 1 2 2 0 1 2 1
 2 2 2 1 2 1 2 1]
do chinh xac 0.8

In [ ]:
from sklearn.linear_model import Perceptron
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
url = '/crabs.csv'
dataframe = pd.read_csv(url)
dataframe.head(20)

   speies sex  index  fontallip  rearwidth  length  width  depth
0       B   M      1        8.1        6.7    16.1   19.0    7.0
1       B   M      2        8.8        7.7    18.1   20.8    7.4
2       B   M      3        9.2        7.8    19.0   22.4    7.7
3       B   M      4        9.6        7.9    20.1   23.1    8.2
4       B   M      5        9.8        8.0    20.3   23.0    8.2
5       B   M      6       10.8        9.0    23.0   26.5    9.8
6       B   M      7       11.1        9.9    23.8   27.1    9.8
7       B   M      8       11.6        9.1    24.5   28.4   10.4
8       B   M      9       11.8        9.6    24.2   27.8    9.7
9       B   M     10       11.8       10.5    25.2   29.3   10.3
10      B   M     11       12.2       10.8    27.3   31.6   10.9
11      B   M     12       12.3       11.0    26.8   31.5   11.4
12      B   M     13       12.6       10.0    27.7   31.7   11.4
13      B   M     14       12.8       10.2    27.2   31.8   10.9
14      B   M     15       12.8       10.9    27.4   31.5   11.0
15      B   M     16       12.9       11.0    26.8   30.9   11.4
16      B   M     17       13.1       10.6    28.2   32.3   11.0
17      B   M     18       13.1       10.9    28.3   32.4   11.2
18      B   M     19       13.3       11.1    27.8   32.3   11.3
19      B   M     20       13.9       11.1    29.2   33.3   12.1

In [ ]:
dataframe = dataframe.replace('O',1)
dataframe = dataframe.replace('B',0)
dataframe = dataframe.replace('M',1)
dataframe = dataframe.replace("F",0)
dataframe.head(5)

   speies  sex  index  fontallip  rearwidth  length  width  depth
0       0    1      1        8.1        6.7    16.1   19.0    7.0
1       0    1      2        8.8        7.7    18.1   20.8    7.4
2       0    1      3        9.2        7.8    19.0   22.4    7.7
3       0    1      4        9.6        7.9    20.1   23.1    8.2
4       0    1      5        9.8        8.0    20.3   23.0    8.2

In [ ]:
X = dataframe.drop(dataframe.columns[[0,1,2]],axis=1)
y= dataframe ['sex']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)
sc= StandardScaler()
sc.fit(X_train)
X_train_std=sc.transform(X_train)
X_test_std=sc.transform(X_test)
print(y_train)
print(X_test_std)

115    1
58     0
45     1
114    1
109    1
      ..
136    1
157    0
161    0
99     0
94     0
Name: sex, Length: 140, dtype: int64
[[ 6.16407731e-01  5.19158902e-01  1.03193660e+00  1.01317213e+00
   7.65276929e-01]
 [-5.02470663e-01 -5.02321316e-01 -4.53227685e-01 -5.77267166e-01
  -3.21978829e-01]
 [ 1.13281314e+00  1.54063912e+00  1.06022544e+00  8.84910896e-01
   1.17667100e+00]
 [ 1.30494828e+00  1.26562521e+00  9.89503331e-01  9.49041513e-01
   1.11790042e+00]
 [ 1.00002318e-01  8.41879300e-03  3.53004354e-01  5.12953319e-01
   4.42038731e-01]
 [-1.19101121e+00 -6.98759819e-01 -1.10387108e+00 -1.05183373e+00
  -1.11538168e+00]
 [-1.70741663e+00 -1.52380153e+00 -1.69793680e+00 -1.64183540e+00
  -1.58554633e+00]
 [-1.90824095e+00 -1.83810314e+00 -1.96668081e+00 -1.93683624e+00
  -1.90878453e+00]
 [-9.32808507e-01 -1.32736303e+00 -1.30189299e+00 -1.37248681e+00
  -9.97840516e-01]
 [ 7.31164489e-01  1.14776211e+00  3.81293197e-01  4.87301072e-01
   5.59579894e-01]
 [-5.31159853e-01  8.69941943e-02 -3.40072311e-01 -2.30961835e-01
  -3.21978829e-01]
 [-1.44921392e+00 -1.64166463e+00 -1.65550353e+00 -1.79574888e+00
  -1.46800517e+00]
 [ 7.59853679e-01  1.14776211e+00  5.79315101e-01  6.28388429e-01
   6.47735766e-01]
 [-1.86889578e-01  4.01295800e-01 -9.96171415e-02 -1.29177385e-02
  -3.51364119e-01]
 [-1.86889578e-01  2.04857296e-01 -8.54727198e-02 -5.13961086e-02
  -2.04437666e-01]
 [ 5.30340162e-01  4.79871201e-01  2.25704558e-01  2.43604728e-01
   3.83268149e-01]
 [ 1.16150233e+00  5.58446602e-01  1.52699136e+00  1.66730442e+00
   1.29421216e+00]
 [ 1.62052937e+00  2.05137923e+00  1.24410292e+00  1.21839010e+00
   1.32359745e+00]
 [-1.01887608e+00 -7.77335220e-01 -7.21971697e-01 -6.54223906e-01
  -9.68455225e-01]
 [ 1.28691508e-01  2.04857296e-01  5.08592992e-01  6.41214552e-01
   3.53882859e-01]
 [-8.46740939e-01 -1.01306142e+00 -7.36116119e-01 -6.28571659e-01
  -9.68455225e-01]
 [ 1.28691508e-01  4.79871201e-01 -1.13761563e-01 -1.41178972e-01
  -1.45667084e-01]
 [-4.16403095e-01 -4.63033615e-01 -1.56194828e-01 -1.54005095e-01
  -4.39519992e-01]
 [-1.00822009e-01  2.04857296e-01 -6.06189502e-04  1.15343495e-01
  -1.16281793e-01]
 [-2.45333556e+00 -2.46670635e+00 -2.50416883e+00 -2.51401179e+00
  -2.37894918e+00]
 [-4.73781474e-01 -9.34486023e-01 -4.95660950e-01 -6.28571659e-01
  -2.04437666e-01]
 [-1.86889578e-01  2.83432698e-01 -7.13282981e-02  3.83867549e-02
  -1.16281793e-01]
 [-1.19101121e+00 -5.41609016e-01 -1.23117088e+00 -1.15444272e+00
  -1.23292284e+00]
 [-1.58200388e-01 -2.66595112e-01 -1.47506112e-02 -9.16151668e-05
  -1.75052375e-01]
 [ 3.00826645e-01  8.41879300e-03  5.36881836e-01  6.54040676e-01
   2.06956405e-01]
 [ 1.04674557e+00  6.37022004e-01  1.04608102e+00  9.74693759e-01
   1.08851513e+00]
 [-2.15578768e-01  5.58446602e-01  5.59714974e-02  8.96912483e-02
  -5.75112119e-02]
 [ 9.60678006e-01  1.38348832e+00  7.77337005e-01  7.56649662e-01
   8.82818092e-01]
 [-1.70741663e+00 -1.87739084e+00 -1.71208122e+00 -1.75727051e+00
  -1.76185808e+00]
 [ 4.26239388e-02 -3.08689077e-02  2.25704558e-01  2.82083098e-01
   1.25936960e-03]
 [ 4.15583404e-01  2.83432698e-01  7.34903740e-01  9.23389266e-01
   5.59579894e-01]
 [-5.88538232e-01 -1.09444309e-01 -5.38094215e-01 -3.72049192e-01
  -6.74602318e-01]
 [ 6.45096920e-01  1.38348832e+00  7.77337005e-01  8.07954156e-01
   8.82818092e-01]
 [-1.62134906e+00 -1.36665073e+00 -1.62721469e+00 -1.57770479e+00
  -1.70308749e+00]
 [-1.86889578e-01 -5.41609016e-01 -3.11783467e-01 -4.36179809e-01
  -5.75112119e-02]
 [-2.15578768e-01  4.01295800e-01 -9.96171415e-02  2.55606315e-02
  -5.75112119e-02]
 [ 7.59853679e-01  1.06918671e+00  4.52015306e-01  4.23170455e-01
   5.00809312e-01]
 [ 1.21888071e+00  1.54063912e+00  1.13094755e+00  1.07730275e+00
   1.02974455e+00]
 [-1.00822009e-01 -6.59472118e-01 -3.11783467e-01 -3.97701439e-01
  -2.04437666e-01]
 [-2.15578768e-01 -3.45170513e-01  1.35382322e-02  6.40390016e-02
  -1.75052375e-01]
 [ 8.17232058e-01  2.44144997e-01  7.63192583e-01  6.66866799e-01
   9.12203383e-01]
 [-8.75430128e-01 -9.34486023e-01 -9.05849180e-01 -1.01335536e+00
  -6.15831736e-01]
 [-4.34436300e-02  4.79871201e-01 -1.13761563e-01 -1.79657342e-01
  -1.16281793e-01]
 [-1.90824095e+00 -2.30955555e+00 -2.22128040e+00 -2.32161994e+00
  -1.99694040e+00]
 [ 8.74610437e-01  1.18704981e+00  1.37140272e+00  1.57752156e+00
   1.05912984e+00]
 [-1.36314635e+00 -1.17021223e+00 -1.40090394e+00 -1.41096518e+00
  -1.76185808e+00]
 [-4.34436300e-02  5.19158902e-01 -1.98628094e-01 -2.82266329e-01
  -1.16281793e-01]
 [-6.74605801e-01 -3.84458214e-01 -5.66383058e-01 -5.13136549e-01
  -7.33372899e-01]
 [ 2.07955640e+00  1.57992682e+00  2.09276823e+00  1.97513138e+00
   2.14638559e+00]
 [-1.21970040e+00 -6.98759819e-01 -1.08972666e+00 -9.62050866e-01
  -1.20353755e+00]
 [-9.04119318e-01 -1.09163683e+00 -6.65394010e-01 -6.41397783e-01
  -8.21528772e-01]
 [-1.33445716e+00 -1.13092453e+00 -1.21702646e+00 -1.23139946e+00
  -1.29169342e+00]
 [ 1.00002318e-01  3.22720398e-01 -1.13761563e-01 -8.98744786e-02
  -5.75112119e-02]
 [ 1.76397531e+00  1.14776211e+00  1.83816863e+00  1.83404402e+00
   2.02884443e+00]
 [-2.44267957e-01  1.65569596e-01 -3.25927889e-01 -1.41178972e-01
  -6.45217027e-01]]

In [ ]:
model = Perceptron(max_iter=1000,eta0=0.1,random_state=0)
model.fit(X_train_std,y_train)
y_pred=model.predict(X_test_std)
print(y_pred)
print(y_test)
print('do chinh xac',accuracy_score(y_test,y_pred))

[1 1 0 0 1 0 1 1 1 0 0 1 0 0 0 0 1 0 1 1 1 0 1 0 1 1 0 0 1 1 1 0 0 1 1 1 0
 0 0 1 0 0 0 1 1 1 1 0 1 1 0 0 0 1 0 1 1 0 1 0]
41     1
110    1
185    0
190    0
30     1
63     0
55     0
52     0
104    1
176    0
78     0
102    1
178    0
85     0
83     0
173    0
47     1
195    0
10     1
31     1
13     1
167    0
20     1
88     0
50     0
111    1
84     0
64     0
25     1
35     1
139    1
82     0
184    0
4      1
28     1
39     1
77     0
175    0
56     0
119    1
81     0
177    0
188    0
121    1
24     1
134    1
106    1
162    0
100    1
43     1
60     0
163    0
76     0
148    1
62     0
12     1
6      1
165    0
146    1
80     0
Name: sex, dtype: int64
do chinh xac 0.95